{% extends 'base.html' %}
{% block content %}
<h1>DFootball Store</h1>

<h5>Name app: </h5>
<p>{{ name_app }}</p> <!-- Change according to your npm -->
<h5>Name: </h5>
<p>{{ name }}</p> <!-- Change according to your name -->
<h5>Class: </h5>
<p>{{ class }}</p> <!-- Change according to your class -->

{% if not object_entries %}
<p>There are no object data in DFootball Store.</p>
{% else %}
<table>
  <tr>
    <th>name</th>
    <th>price</th>
    <th>description</th>
  </tr>

  {% comment %} This is how to display object data
  {% endcomment %} 
  {% for model_object in object_entries %}
  <tr>
    <td>{{model_object.name}}</td>
    <td>{{model_object.price}}</td>
    <td>{{model_object.description}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:model_object' %}">
  <button>Add Item</button>
  <a href="{% url 'main:logout' %}">
    <button>Logout</button>
    <h5>Last login session: {{ last_login }}</h5>
</a>
{% endblock content %}